<section class="flex gap-x-8 justify-center flex-col md:flex-row items-center md:items-start">

<div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400  w-full md:w-3/6" >
    <p>
        Graduado en TSU en Informática con una pasión por el desarrollo web, enfocado en el frontend. Poseo experiencia sólida en HTML, CSS y JavaScript, lo que me permite crear sitios web dinámicos y visualmente atractivos.  
    </p>
    <p>
        Además, estoy familiarizado con plataformas populares como WordPress y HubSpot, lo que me permite personalizar y optimizar sitios web según las necesidades del cliente.
    </p>
    <p>
        Siempre al tanto de las últimas tendencias y tecnologías en el mundo del desarrollo web
</div>
<div class="imageProfileAbout w-3/6">
    <img class="w-full object-cover aspect-auto" src="https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/foto.png" alt="">
</div>
</section>