<section class="flex gap-x-8 justify-center items-start">

<div class="[&>p]:mb-4 [&>p>strong]:text-yellow-400  w-3/5" >
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis alias iusto voluptatum quasi laudantium deserunt quam qui tempore itaque accusantium?
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rerum laudantium voluptate sapiente sit vero.
    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet culpa minus nemo incidunt, exercitationem consequuntur quia corrupti eveniet ratione, sed rem quas. Veniam quo cumque harum quam et accusantium similique?
    </p>
</div>
<div class="imageProfileAbout w-2/5">
    <img src="https://22529421.fs1.hubspotusercontent-na1.net/hubfs/22529421/foto.png" alt="">
</div>
</section>